mi carpeta/ejercicios presentaciones/DTD/ej2.xml

<!ELEMENT articles (article+)>

<!ELEMENT article (name, month, author, feedback, reviews+)>
<!ATTLIST article id CDATA #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT month (#PCDATA)>

<!ELEMENT author EMPTY>
<!ATTLIST author name CDATA #REQUIRED>

<!ELEMENT feedback (#PCDATA)>

<!ELEMENT reviews (#PCDATA)>
<!ATTLIST reviews lang CDATA #IMPLIED>
